DJANGO_DEBUG=False
DJANGO_SECRET_KEY=your-secret-key
DJANGO_DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require
DJANGO_ALLOWED_HOSTS=.vercel.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://.vercel.app
DJANGO_SITE_DOMAIN=your-app.vercel.app
DJANGO_SITE_NAME=Your Site Name