{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Articles | {% if brand %}{{ brand.name }}{% else %}SonicVibe{% endif %}{% endblock %}
{% block content %}
    <div class="pt-16 pb-10">
        <div class="text-center mb-20 relative z-20">
            <h1 class="text-6xl sm:text-8xl font-black text-gray-900 uppercase tracking-tighter mix-blend-overlay opacity-80">Article<span class="text-neon-pink">s</span></h1>
            <div class="glass-panel inline-block px-8 py-3 bg-white/70 -mt-10 relative z-30 shadow-xl border-l-4 border-l-neon-pink">
                <p class="font-bold text-gray-700 text-lg">Semua artikel terbaru.</p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-24 mt-10">
            {% for article in articles %}
                {% include 'blog/partials/article_card.html' with article=article counter=forloop.counter is_first=forloop.first %}
            {% empty %}
                <p class="col-span-full text-center text-gray-500 py-10 font-black text-2xl uppercase">Belum ada artikel.</p>
            {% endfor %}
        </div>
        {% include 'blog/base/pagination.html' with page_obj=page_obj %}
    </div>
{% endblock %}
