{% load static %}
<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Dashboard{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <link rel="stylesheet" href="{% static 'css/core.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    <body class="grid grid-cols-1 md:grid-cols-[260px_1fr] grid-rows-[1fr] h-screen w-full overflow-hidden">
        {% include 'core/base/sidebar.html' %}
        <div id="sidebarOverlay"
             class="fixed inset-0 bg-slate-900/10 backdrop-blur-[2px] z-30 hidden md:hidden transition-opacity"></div>
        <div class="flex flex-col relative w-full h-full overflow-hidden">
            {% include 'core/base/navbar.html' %}
            <main class="flex-1 min-h-0 overflow-y-auto hide-scroll px-4 md:px-8 pb-10 grid gap-8 content-start">
                {% block content %}{% endblock %}
            </main>
            {% include 'core/base/footer.html' %}
        </div>
        {% include 'core/base/toast.html' %}
        {% block modal %}{% endblock %}
        <script src="{% static 'js/core.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
